/* CSS document
By Arka Ganguli */

body {
	margin: 0 200px;
	font-family: Helvetica, Georgia;
}

#header {
	background-color: 252525;
}
/* for floated elements */
.clear{ 
	clear:both;
	padding:0;
}

#menubar {
	background-color: #b0b0b0;
	padding:14px 0;
	border-radius: 20px 20px 0px 0px;
}

	#menubar h1 {
		font-weight: bold;
		color: #b0b0b0;
		font-size: 34px;
		margin: 0;
		float: left;
		margin-left: 10px;
		font-family: Futura, Helvetica;
	}
	#menubar h1 a{
		color: #252525;
		text-decoration: none;
	}

	#menubar ul {
		margin: 0;
		float:right;
	}

	#menubar ul li a {
		text-decoration: none;
		color: #252525;
	}

	#menubar ul li {
		list-style-type: none;
		margin-left: 25px;
		font-weight: bold;
		font-size: 18px;
		color: #252525;
		margin-top: 10px;
		float:left;
		margin-right: 10px;
		font-family: Futura, Helvetica;
	}
	#menubar ul li:hover {
		text-decoration: underline;
	}

#intro {
	background-color: #EBEDED;
	padding:15px 0px 0px 0px;
	float:none;
}
	#intro h2{
		font-weight: normal;
		color: #000000;
		font-size: 28px;
		margin-left: 25%;
		width:50%;
	}
	#intro p{
		font-weight: normal;
		margin-left: auto;
		margin-right: auto;
		width:50%;
		line-height: 30px;
		font-size: 15px;
	}


footer {
	background-color: #b0b0b0;
	color: #252525;
	font-size: 12px;
	font-weight: bold;
	font-family: Futura, Helvetica;
	border-radius: 0px 0px 20px 20px;
	text-align: center;
	}

#contact{
	margin-left:25%;
}
